*{
    margin: 0;
    padding: 0;  
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
   
    height: 30vh;
    z-index: 1;  
    position: sticky;
    top: 0; 
    margin-bottom: 155px;  
    
}

h1{
    position: absolute;
    font-size: 70px;
}

.logo{
    height: 100px;
    width: 100px;
    padding-right: 15%;
    display: inline;
    position: absolute;
    top:85%;
    left:75%;
}
body{
    background-color: #8FD6E1;
}

.img-header{
    object-fit: cover;
    width:100%;
    height:100%;
}

nav{
    margin-top: 40px;
    width: 200px; 
    position: fixed;
}
nav a{
    display: block;
    width: 100px;
    margin-bottom: 50px;
    text-decoration: none;

}

section{
    width: 300px;
}

.tittle-section{
    position: absolute;
    top:30%;
    background-color: #1597BB;
    width: 100%;
    text-align: center;
}

.article1{
    position: absolute;
    top: 38%;
    left: 20%;
}
.article2{
    position: absolute;
    top: 55%;
    left: 20%;
}
.article3{
    position: absolute;
    top: 72%;
    left: 20%;
}


